%p#notice= notice

%p
  %b Source:
  = @poll.source
%p
  %b Poller:
  = @poll.poller
%p
  %b Date:
  = @poll.date
%p
  %b Population:
  = @poll.population

= link_to 'Edit', edit_poll_path(@poll)
\|
= link_to 'Back', polls_path
